#container {
  width: 860px;
  margin: auto;
  font-size: 18px;
  color: #333;
}

.main p {
  padding: 20px 25px;
}

.title,
.subtitle {
  text-align: center;
  padding: 10px;
}

.title {
  margin-top: 16px;
  font-size: 32px;
}

.subtitle {
  font-size: 22px;
  color: #999;
}

footer {
  font-size: 14px;
  text-align: center;
  margin: 24px 0;
}