#container {
  max-width: 940px !important;
  margin: auto;
  font-size: 18px;
  color: #333;
  padding: 25px;
}

.title,
.subtitle {
  text-align: center;
  padding-top: 10px;
}

.title {
  font-size: 34px;
}

.subtitle {
  font-size: 22px;
  color: #999;
}

section h4 {
  color: #555;
  padding-top: 10px;
  text-align: center;
}

footer {
  color: #999;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}